{
    "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true,
        "modules": true
      }
    },
    "env": {
      "jest": true,
      "node": true,
      "browser": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "airbnb-base"
    ],
    "rules": {
      "react/jsx-uses-vars": 1,
      "arrow-body-style": "warn",
      "class-methods-use-this": "off",
      "linebreak-style": "off",
      "import/prefer-default-export": "warn",
      "react/display-name": "off",
      "no-underscore-dangle": "off",
      "max-len": "off",
      "no-unused-vars":"warn"
    }
  }