
@import "../../assets/style/colors";

.container{
  background-color: $primary-bgcolor;
  padding: 10px;   
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; 

  .title{
    color: $primary-color;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.3em;
  }

}

